/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "font-awesome/font-awesome.scss";
@import "bourbon";

$fg-column: 60px;
$fg-gutter: 20px;
$fg-max-columns: 12;

html {
	
}
body {
	width: flex-grid(12);
	background-color: beige;
}
header {
	@include clearfix;
}
header .logo {
	width: flex-grid(3);
	background-color: red;
	float: left;
}
header h1 {
	width: flex-grid(9);
	background: blue;
	float: left;
}